*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 60px;
}
.head-container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow:row nowrap; 
}
.head-logo{
   margin-left: 80px;
}
.menu{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 5px;
    display: flex;
}
.menu li{
  display: inline-block;
}
.menu li a{
    display: inline-block;
}
.head-menu-right{
    margin-left: 480px;
}
.head-menu-left{
    margin-right: 80px;
}
a{
    font-family: 'Inter';
    padding: 10px;
    color: #000;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.head-menu-right{
    top: 100px;
}
.main-container a{
    margin: 0;
    padding: 0;
}
/* button{
    width: 218px;
    height: 40px;
    border-radius: 2px ;
    background-color:rgba(0, 103, 184, 1);
    color:white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    margin-left: 130px;
    } */
main{
    height: 2000px;
}
.flex-container{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 140px;
    margin-left: 55px;
    background-color: #fff;
}
.flex-container a:hover{
    text-decoration: none;
}
.flex-container > div{
    margin: 8px;
}
.flex-container h1{
    margin-top:18px;
    margin-left: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 29px;
}
.flex-container p{
    margin-top: 18px;
    margin-left: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    opacity: 0.7;
    line-height: 24px;
}
.link{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 76, 199);
    margin-top: 20px;
    margin-left: 10px;
}
.link:hover{
    text-decoration: underline;
}
.center{
    margin: 70px;
    width: 1330px;
    height: 500px;
    background-color: #E7E7E7;
}
.center{
    cursor: pointer;
}
.center-container a{
    text-decoration: none;
}
.center img{
    margin-top: 60px;
    margin-left: 670px;
}
.center h1{
    margin-top: -350px;
    margin-left: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}
.center p{
    margin-top: 30px;
    margin-left: 100px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.center a:hover{
    text-decoration: none;
}
.button{
    margin-top: 5px;
    width: 87px;
    height: 40px;
    margin-left: 100px;
    background-color:#0067B8;
    border-radius: 2px;
    cursor: pointer;
}
.button:hover{
    background-color: #005ea5;
    box-shadow: #000;
}
.button-text{
    color: #fff;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: 7px;
    padding: 9px;
}
.title-for-flex-container-2part{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    margin-left: 70px;
    margin-top: 100px;
}
.flex-container-2part{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 15px;
    margin-left: 55px;
    background-color: #fff;
}
.flex-container-2part a:hover{
    text-decoration: none;
}
.flex-container-2part > div{
    margin: 8px;
}
.flex-container-2part h1{
    margin-top:18px;
    margin-left: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 29px;
}
.flex-container-2part p{
    margin-top: 18px;
    margin-left: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    opacity: 0.7; 
    line-height: 24px;
}
.link{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 76, 199);
    margin-top: 20px;
    margin-left: 10px;
}
.back-button{
    position: sticky;
    border-radius: 3px;
    backdrop-filter: blur(10px);
    width: 150px;
    height: 40px;
    margin-left: 1300px;
    background-color: rgb(206, 206, 206);
}
/* .back-button-text{
    padding:8px;
    margin-left: 12px;
}
.back-button-text span{
    font-size: 20px;
} */
footer{
    margin-top: 450px;
    padding: 50px;
    height: 400px;
    background-color: #F2F2F2;
    
}
.footer-container{
    display: flex;
    opacity: 0.7;
}
.footer-text{
    font-size: 13px;
    line-height: 30px;
    margin-left: 60px;
}
.language{
    display: flex;
    width: 30px;
    height: 30px;
    margin-top: 50px;
    margin-left: 60px;
}
.language a{
    font-size:12px;
    opacity: 0.6;
}
a:hover{
    text-decoration: underline;
}
.footer-bottom-text{
    margin-top: -22px;
    margin-left: 600px;
    font-family: 8px;
    font-size: 12px;
    opacity: 0.7;

}